.highlight .hll {
    background-color: #EFEFEF
}

.highlight .c {
    color: #EAB700
}

.highlight .err {
    /*background: #C82829;*/
    color: #FFFFFF
}

.highlight .k {
    color: #8959A8
}

.highlight .l {
    color: #F5871F
}

.highlight .n {
    color: #929292
}

.highlight .o {
    color: #545454
}

.highlight .p {
    color: #929292
}

.highlight .cm {
    color: #929292
}

.highlight .cp {
    color: #929292
}

.highlight .c1 {
    color: #929292
}

.highlight .cs {
    color: #929292
}

.highlight .gd {
    color: #C82829
}

.highlight .ge {
    font-style: italic
}

.highlight .gh {
    color: #545454;
    font-weight: bold
}

.highlight .gi {
    color: #718C00
}

.highlight .gp {
    color: #718C00;
    font-weight: bold
}

.highlight .gs {
    font-weight: bold
}

.highlight .gu {
    color: #3E999F;
    font-weight: bold
}

.highlight .kc {
    color: #8959A8
}

.highlight .kd {
    color: #8959A8
}

.highlight .kn {
    color: #3E999F
}

.highlight .kp {
    color: #4271AE
}

.highlight .kr {
    color: #8959A8
}

.highlight .kt {
    color: #EAB700
}

.highlight .ld {
    color: #718C00
}

.highlight .m {
    color: #F5871F
}

.highlight .s {
    color: #718C00
}

.highlight .na {
    color: #4271AE
}

.highlight .nb {
    color: #4271AE
}

.highlight .nc {
    color: #EAB700
}

.highlight .no {
    color: #EAB700
}

.highlight .nd {
    color: #3E999F
}

.highlight .ni {
    color: #545454
}

.highlight .ne {
    color: #C82829
}

.highlight .nf {
    color: #4271AE
}

.highlight .nl {
    color: #545454
}

.highlight .nn {
    color: #EAB700
}

.highlight .nx {
    color: #4271AE
}

.highlight .py {
    color: #545454
}

.highlight .nt {
    color: #3E999F
}

.highlight .nv {
    color: #C82829
}

.highlight .ow {
    color: #3E999F
}

.highlight .w {
    color: #545454
}

.highlight .mf {
    color: #F5871F
}

.highlight .mh {
    color: #F5871F
}

.highlight .mi {
    color: #F5871F
}

.highlight .mo {
    color: #F5871F
}

.highlight .sb {
    color: #718C00
}

.highlight .sc {
    color: #545454
}

.highlight .sd {
    color: #929292
}

.highlight .s2 {
    color: #718C00
}

.highlight .se {
    color: #F5871F
}

.highlight .sh {
    color: #718C00
}

.highlight .si {
    color: #F5871F
}

.highlight .sx {
    color: #718C00
}

.highlight .sr {
    color: #718C00
}

.highlight .s1 {
    color: #718C00
}

.highlight .ss {
    color: #718C00
}

.highlight .bp {
    color: #545454
}

.highlight .vc {
    color: #C82829
}

.highlight .vg {
    color: #C82829
}

.highlight .vi {
    color: #C82829
}

.highlight .il {
    color: #F5871F
}
.yue {
    font: 400 14px/1.62 "Xin Gothic","Hiragino Sans GB","Droid Sans Fallback","Microsoft YaHei",sans-serif;
    color: #444443
}
.yue code{
    white-space: pre-wrap;
    font-family: consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace;
}

.yue p code {
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    word-break: break-all;
}
.yue div.highlighter-rouge{
    text-align: start;
    border: 0;
    border-radius: 5px;
    word-break: break-all;
    margin: 0 0 1.1em;
    padding: 0;
    font-size: .9em;
}
.yue pre.highlight{
    display: block;
    padding: 15px;
    background-color: #f0f0f0;
}
.windows .yue {
    font-size: 16px;
    font-family: Georgia,SimSun,sans-serif
}

.yue ::-moz-selection {
    background-color: rgba(0,0,0,.2)
}

.yue ::selection {
    background-color: rgba(0,0,0,.2)
}

.yue h1,.yue h2,.yue h3,.yue h4,.yue h5,.yue h6 {
    font-family: "Xin Gothic","Hiragino Sans GB","Droid Sans Fallback","Microsoft YaHei",SimSun,sans-serif;
    color: #222223
}

.yue h1 {
    font-size: 1.8em;
    margin: .67em 0
}

.yue>h1 {
    margin-top: 0;
    font-size: 2em
}

.yue h2 {
    font-size: 1.5em;
    margin: .83em 0
}

.yue h3 {
    font-size: 1.17em;
    margin: 1em 0
}

.yue h4,.yue h5,.yue h6 {
    font-size: 1em;
    margin: 1.6em 0 1em
}

.yue h6 {
    font-weight: 500
}

.yue p {
    margin-bottom: 1.46em;
    line-height: 2;
}

.yue a {
    color: #9c6;
    word-wrap: break-word;
    -moz-text-decoration-color: rgba(0,0,0,.4);
    text-decoration-color: rgba(0,0,0,.4)
}

.yue a:hover {
    color: #555;
    -moz-text-decoration-color: rgba(0,0,0,.6);
    text-decoration-color: rgba(0,0,0,.6)
}

.yue strong,.yue b {
    font-weight: 700;
    color: #222
}

.yue em,.yue i {
    font-style: italic;
    color: #222
}

.yue img {
    max-width: 100%;
    height: auto;
    margin: .2em 0
}

.yue a img {
    border: 0
}

.yue figure {
    position: relative;
    clear: both;
    outline: 0;
    margin: 10px 0 30px;
    padding: 0;
    min-height: 100px
}

.yue figure img {
    display: block;
    max-width: 100%;
    margin: auto auto 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.yue figure figcaption {
    position: relative;
    width: 100%;
    text-align: center;
    left: 0;
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    color: #666665
}

.yue figure figcaption a {
    text-decoration: none;
    color: #666665
}

.yue hr {
    display: block;
    width: 14%;
    margin: 40px auto 34px;
    border: 0 none;
    border-top: 3px solid #dededc
}

.yue blockquote {
    margin: 0 0 1.64em;
    border-left: 3px solid #dadada;
    padding-left: 12px;
    color: #666664
}

.yue blockquote a {
    color: #666664
}

.yue ul,.yue ol {
    margin: 0 0 24px 6px;
    padding-left: 16px
}

.yue ul {
    list-style-type: square
}

.yue ol {
    list-style-type: decimal
}

.yue li {
    margin-bottom: .2em
}

.yue li ul,.yue li ol {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 14px
}

.yue li ul {
    list-style-type: disc
}

.yue li ul ul {
    list-style-type: circle
}

.yue li p {
    margin: .4em 0 .6em
}

.yue .unstyled {
    list-style-type: none;
    margin: 0;
    padding: 0
}
.yue pre {
  font-size: 13px;
}

.yue table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1.5em;
    font-size: .96em
}

.yue th,.yue td {
    text-align: left;
    padding: 4px 8px 4px 10px;
    border: 1px solid #dadada
}

.yue td {
    vertical-align: top
}

.yue tr:nth-child(even) {
    background-color: #efefee
}

.yue iframe {
    display: block;
    max-width: 100%;
    margin-bottom: 30px
}

.yue figure iframe {
    margin: auto
}

.yue table pre {
    margin: 0;
    padding: 0;
    border: 0;
    background: 0
}
/*
@media (min-width: 1100px) {
    .yue blockquote {
        margin-left:-24px;
        padding-left: 20px;
        border-width: 4px
    }

    .yue blockquote blockquote {
        margin-left: 0
    }

    .yue figure img {
        margin: 0 0 4px
    }

    .yue figure figcaption:before {
        width: 25%;
        margin-left: 75%;
        border-top: 1px solid #dededc;
        display: block;
        content: "";
        margin-bottom: 10px
    }

    .yue figure figcaption {
        position: absolute;
        left: -172px;
        width: 150px;
        top: 0;
        text-align: right;
        margin-top: 0
    }
}
*/
a.button {
    text-decoration: none;
    border: 3px solid rgba(0,0,0,.07);
    padding: 4px 20px;
    margin-right: 20px;
    border-radius: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #999
}

a.button:hover {
    opacity: 1;
    border-color: #666
}

.yue .cite-quote {
    font-size: 20px;
    text-align: left;
    margin: 20px;
    border: 0;
    padding: 0
}

.yue .cite-quote cite {
    display: block;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    color: #999
}

.yue .cite-quote p+cite {
    margin-top: -10px
}

.yue .cite-quote cite:before {
    content: '—';
    margin-right: 10px
}

.yue .highlight td:first-of-type pre {
    text-align: right;
    color: #aaa
}


@media (min-width: 980px) {
    .yue .cite-quote {
        text-align: center;
        margin: 36px -60px;
        font-size: 24px
    }
}
@media (max-width: 650px) {
  
    .yue {
        word-break: break-all
    }

    .container {
        padding-left: 18px;
        padding-right: 18px
    }

    .entry-content figure {
        margin-left: -18px;
        margin-right: -18px
    }
}

.gist table {
    margin: 0;
    padding: 0;
    border: 0 none
}

.gist table td {
    border: 0 none
}


html,body {
    padding: 0;
    margin: 0
}

::-moz-selection,.yue ::-moz-selection {
    background-color: #16b5ac;
    color: #f9f9f9
}

::selection,.yue ::selection {
    background-color: #16b5ac;
    color: #f9f9f9
}

.hide {
    display: none
}

.container {
    max-width: 760px;
    margin: 0 auto;
    zoom:1}

.container:after {
    display: table;
    content: "";
    clear: both
}

.container .post-meta {
  padding-bottom: 20px;
}

a {
    color: #434344;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in
}

a:hover {
    opacity: .8
}

body {
    -webkit-transition: opacity .4s ease-in;
    transition: opacity .4s ease-in
}

.page-loading {
    opacity: .3
}

#header {
    padding: 20px 0;
    border-bottom: 1px solid #f9f9f9
}

#header .container {
    max-width: 860px
}

#header a {
    color: #444;
    font-family: "Avenir Next",Avenir,"Helvetica Neue",sans-serif;
    text-decoration: none
}

#header a:hover {
    opacity: 1;
    color: #222
}

#brand {
    float: left;
    display: inline-block;
    cursor: pointer
}

#brand:hover strong {
    opacity: .8
}

#brand strong {
    color: #444;
    font-size: 24px;
    font-weight: 300;
    vertical-align: top;
    line-height: 30px;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in
}

#brand a:hover {
    border-color: #444
}

#nav {
    float: right
}

#nav a {
    font-size: 16px;
    margin-right: 15px
}

#nav a:hover {
    opacity: .6
}

#footer {
    padding: 10px 0 20px;
    text-align: center;
    border-top: 1px solid #eee;
    color: #999;
    font-size: 13px;
    font-family: Optima,"Helvetica Neue",sans-serif
}

.updated:after {
    content: ' — '
}

#main .entry-list {
    margin: 0;
    padding: 0;
    padding: 2em 0;
    list-style-type: none
}
#fb_comments_container {
  margin-top: 35px;
  padding-top: 20px;
  border-top: 1px solid rgba(150, 150, 150, 0.2);
}
.post-time {
  font-size: 14px;
  border-bottom: 1px solid rgba(150, 150, 150, 0.2);
}
