<!DOCTYPE html>
<html class="index">
    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1,maximum-scale=1.0" name="viewport"/>
        <meta content="all" name="robots"/>
        <title>
            {{ page.title }}
        </title>
        <link href="/css/style.css" rel="stylesheet" type="text/css"/>
        <!--[if (lt IE 9) & (!IEMobile)]>
<link rel="stylesheet" type="text/css" href="/css/ie.css" />
<![endif]-->
        {% include ga.html %}
    </head>
    <body>
        <div class="bodycenter">
            <div id="nav">
                <ul>
                    <li>
                        <a href="http://imcczy.com">
                            首页
                        </a>
                    </li>
                    <li>
                        <a href="http://imcczy.com/about.html">
                            About
                        </a>
                    </li>
                </ul>
            </div>
            <div class="container group">
                {% include sidebar.html %}
            </div>
            <div class="content">
                {{ content }}
            </div>
        </div>
    </body>
</html>
