<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1,maximum-scale=1.0" name="viewport"/>
        <meta content="all" name="robots"/>
        <title>
            {{ page.title }}
        </title>
        <link href="/css/site.css" rel="stylesheet" type="text/css"/>
        <link href="http://cdn.bootcss.com/highlight.js/8.6/styles/github.min.css" rel="stylesheet">
            <!--[if (lt IE 9) & (!IEMobile)]>
<link rel="stylesheet" type="text/css" href="/css/ie.css" />
<![endif]-->
        </link>
    </head>
    {% include ga.html %}
    <body>
        <div class="yue">
            <div class="container">
                <div id="main">
                    <h1>
                        {{ page.title }}
                    </h1>
                    {{ content }}
                </div>
            </div>
            <!--
            <script src="http://cdn.bootcss.com/highlight.js/8.6/highlight.min.js">
            </script>
            <script>
                hljs.initHighlightingOnLoad();
            </script>
            -->
        </div>
    </body>
</html>