<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1,maximum-scale=1.0" name="viewport"/>
        <meta content="all" name="robots"/>
        <title>
            {{ page.title }}
        </title>
        <link href="/css/site.css" rel="stylesheet" type="text/css"/>
        <link href="/css/github.css" rel="stylesheet" type="text/css"/>
            <!--[if (lt IE 9) & (!IEMobile)]>
<link rel="stylesheet" type="text/css" href="/css/ie.css" />
<![endif]-->
        </link>
        {% include ga.html %}
    </head>
    <body>
        <div class="yue">
            <header id="header">
                <div class="container yue">
                    <a href="/" id="brand" role="banner">
                        <strong>
                            imcczy
                        </strong>
                    </a>
                    <nav id="nav" role="navigation">
                        <a href="/about.html">
                            About
                        </a>
                    </nav>
                </div>
            </header>
            <div class="container">
                <div id="main">
                    <h1>
                        {{ page.title }}
                    </h1>
                    <div class="post-time">
                        <span class="post-meta">
                            {{ page.date | date: "%B %d, %Y" }} | {{ page.tags }}
                        </span>
                    </div>
                    {{ content }}
                    <div id="fb_comments_container">
                        {% include discus.html %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
